/* Lobster font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lobster&display=swap');

html, body {
    background-color: lightgrey;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/4577223/pexels-photo-4577223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    background-attachment: fixed;
}
.navbar {
  width: 100%;
  /* height: 100px; */
  background-color: #3b3b3b;
  margin-bottom: 20px;
}
.navbar-light .navbar-brand.name-head, .name-head {
  font-family: Lobster;
  font-size: 2rem;
  color: rgb(214, 214, 214);
}
#main-img{
  border: solid;
  border-radius: 4px;
  border-color: rgb(20, 20, 167);
  margin-right: 2rem;
}
.img-pw{
  border: solid;
  border-radius: 4px;
  border-color: rgb(20, 20, 167);
  height: 27rem;
}
.img-quiz{
  border: solid;
  border-radius: 4px;
  border-color: rgb(20, 20, 167);
  height: 22rem;
}
.img-project{
  border: solid;
  border-radius: 4px;
  border-color: rgb(20, 20, 167);
  height: 27rem;
}
.navbar-light .navbar-nav .active>.nav-link.color-this {
  font-family: kanit;
  font-size: 1rem;
  color: rgb(136, 130, 130);
  font-size: 1rem;
}
.navbar-light .navbar-nav .nav-link.color-this, .color-this {
  font-family: kanit;
  font-size: 1rem;
  color: rgb(214, 214, 214);
  font-size: 1rem;
}
.my-container {
  width: 100%;
  justify-content: right;
  margin-right: 50px;
  min-height: 100%;
  box-sizing: border-box;
}
.port-container{
  width: 100%;
  justify-content: center;

}
.aboot-me{
  background-color:  #3b3b3b;
  color: rgb(17, 17, 131);
  margin-top: 20px;
  border: rgb(20, 20, 167);
  border-style: solid;
  border-radius: 4px;
}
/* .my-footer {
  display: flex;
  height: 60px;
  width: 100%;
} */
.clearfooter{
  height: 1px;
  clear: both;
}
.footer-container {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0

}
